XeXh6eo0AMesNXs4.json
{
  "active": true,
  "connections": {
    "Join tables": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Join tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Join tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T21:40:41.721Z",
  "id": "XeXh6eo0AMesNXs4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Visualize SQL data as CSV",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    m.\"id\",\n    m.\"name\",\n    m.\"email\",\n    m.\"phone_number\",\n    d.\"departmentName\",\n    r.\"roleName\"\nFROM \"Members\" m\nLEFT JOIN \"MemberRole\" mr \n  ON m.\"id\" = mr.\"memberID\"\nLEFT JOIN \"Role\" r \n  ON r.\"id\" = mr.\"roleID\"\nLEFT JOIN \"MemberDepartment\" md \n  ON m.\"id\" = md.\"memberID\"\nLEFT JOIN \"Department\" d \n  ON d.\"id\" = md.\"departmentID\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -80
      ],
      "id": "0d6725d0-d876-4c2f-aebc-e9b35b41da4f",
      "name": "Join tables",
      "credentials": {
        "postgres": {
          "id": "ucbPPN2ixG5PoGk4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g",
          "mode": "list",
          "cachedResultName": "SQL Database View",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone_number": "={{ $json.phone_number }}",
            "departmentName": "={{ $json.departmentName }}",
            "roleName": "={{ $json.roleName }}",
            "member_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "member_id",
              "displayName": "member_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "departmentName",
              "displayName": "departmentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "roleName",
              "displayName": "roleName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -16
      ],
      "id": "3fd54904-c13e-4f40-a8e5-a13b3f2ab923",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j2ZqaOzHSdIL6aZC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g",
          "mode": "list",
          "cachedResultName": "SQL Database View",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g/edit#gid=0"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": 1000
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -80
      ],
      "id": "c53c8a9f-7427-4547-8c3d-34c6df1d3da6",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j2ZqaOzHSdIL6aZC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        -80
      ],
      "id": "b2ae49a8-1d69-486b-a0a6-99447c248262",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        160
      ],
      "id": "3aa4f30b-7449-413d-8fe9-d7f4032a87c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        -64
      ],
      "id": "bf0c7a6e-7bc6-4325-8e90-709ffd2cb5be",
      "name": "Wait",
      "webhookId": "64c80db1-bcc0-4a3a-aec3-7d3ceb1fa30e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1ca6dc0e-b49e-4a64-8d2f-ab96e6c49259",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -112
      ],
      "id": "f802468e-cfe6-4edb-8eb2-663cf93f0cd6",
      "name": "Webhook",
      "webhookId": "1ca6dc0e-b49e-4a64-8d2f-ab96e6c49259"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "operationspolyai",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-03T21:40:41.724Z",
      "updatedAt": "2025-09-03T21:40:41.724Z",
      "role": "workflow:owner",
      "workflowId": "XeXh6eo0AMesNXs4",
      "projectId": "NulObFSfFSWs7ssm"
    }
  ],
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g",
      "sheetId": 0,
      "lastRevision": 376,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1d8Iv0yEe44K2Yoj1n3nuC3niY__k0M0s0p4V1fvre5g&revision=376&exportFormat=xlsx"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-12T02:26:07.000Z",
  "versionId": "19d3f03b-bba5-48cf-8c9f-1289caf065e6"
}